<%= render "shared/header" %>

    <div class="contents row">
      <% @items.each do |item| %>

        <ul class='item-lists'>
        <% if @items != nil %>
          <% @items.each do |item| %>
          <li class='list'>
            <%= link_to item_path(item.id),method: :get do %>
            <div class='item-img-content'>
              <%= image_tag item.image,class: "item-img" %>
              <% if item.purchase%>
                <div class='sold-out'>
                  <span>Sold Out!!</span>
                </div>
              <% end%>
            </div>
            <div class='item-info'>
              <h3 class='item-name'>
                <%= item.name %>
              </h3>
              <div class='item-price'>
                <span><%= item.price %>円<br><%= item.deliveryFee.name %></span>
                <div class='star-btn'>
                  <%= image_tag "star.png", class:"star-icon" %>
                  <span class='star-count'>0</span>
                </div>
              </div>
            </div>
            <% end %>
          </li>
          <% end %>
        <% end %>
        </ul>

      <% end %>
    </div>
<%= render "shared/footer" %>